@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Merienda:wght@300..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.cinzel-400 {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.cinzel-700 {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-900 {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

.merienda-500 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.merienda-900 {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.transition-width {
  transition: width 1s ease-in-out;
}

